body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: slateblue;
  padding: 2em;
  margin-bottom: 2em;
  text-align: center;
}

main {
  width: 90%;
  margin: auto;
  text-align: center;
}

section {
  background-color: linen;
  padding: .5em;
  margin-bottom: 1em;
}

th {
  text-align: center;
}


