body {
  margin: 0;
  font-family: 'Calibri', sans-serif;
  background-color: silver;
}

header {
  background-color: black;
  padding: 2em;
  margin-bottom: 2em;
  text-align: center;
  color: whitesmoke;
}

main {
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: teal;
}

section {
  color: rgb(39, 30, 30);
  background-color: slategrey;
  padding: .5em;
  margin-bottom: 1em;
}

table {
  width: 100%;
}
th {
  width: 16%;
  color: blue;
}


